* {
    padding: 0;
    margin: 0;
}

.container {
    background: linear-gradient(180deg, #EAEDED 0%, #DFE9F3 100%);
    position: relative;
    width: 100vw;
    height: 945px;
    gap: 0px;
    position: relative
}

.header {
    width: auto;
    height: 52px;
    position: absolute;
    top: 52px;
    left: 274px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    color: #2293D7;
}

.subHeader {
    position: absolute;
    width: 395px;
    height: 100px;
    top: 100px;
    left: 274px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 39px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

#bl {
    width: 439px;
    height: 431.25px;
    position: absolute;
    bottom: -50px;
    left: -100px;
    gap: 0px;
    opacity: 0px;
    rotate: 180 deg;
}

#tr {
    width: 439px;
    height: 431.25px;
    position: absolute;
    top: 0px;
    right: 0px;
    gap: 0px;
    opacity: 0px;

}

.imgContainer {
    position: absolute;
    top: 300px;
    left: 274px;
    display: flex;
    gap: 28px;
}

.ourServices {
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 437px;
    height: 413px;
    top: 1820px;
    left: 277px;
    gap: 0px;
    opacity: 0px;
}

#arrows {
    width: 88px;
    height: 32px;
    position: absolute;
    top: 800px;
    right: 325px;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.leftArrow {
    width: 32px;
    height: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    rotate: -180 deg;
    color: 1px solid #2293D7
}

.rightArrow {
    width: 32px;
    height: 32px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: 1px solid #2293D7;
}