* {
    padding: 0;
    margin: 0;
}

.container {
    background: linear-gradient(180deg, #EAEDED 0%, #DFE9F3 100%);
    position: relative;
    width: 1920px;
    height: 945px;
    gap: 0px;
}

.header {
    width: auto;
    height: 52px;
    position: absolute;
    top: 52px;
    left: 274px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    color: #2293D7;
}

.subHeader {
    position: absolute;
    width: 395px;
    height: 100px;
    top: 100px;
    left: 274px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 39px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

#bl {
    width: 439px;
    height: 431.25px;
    position: absolute;
    bottom: -50px;
    left: -100px;
    gap: 0px;
    opacity: 0px;
    rotate: 180 deg;
}

#tr {
    width: 439px;
    height: 431.25px;
    position: absolute;
    top: 0px;
    right: 0px;
    gap: 0px;
    opacity: 0px;

}

.imgContainer {
    position: absolute;
    top: 308px;
    left: 277px;
    width: 1400px;
    display: flex;
    gap: 28px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.singleService {
    position: relative;
}

.singleService:active {
    cursor: grabbing;
}

.ourServices {
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 437px;
    position: relative;
    height: 413px;
    /* top: 1820px;
    left: 277px; */
    gap: 0px;
    opacity: 0px;
    background-color: white;
}

.serviceIcon {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 32px;
    top: 32px;
}

.serviceHeader {
    width: 274px;
    height: 66px;
    position: absolute;
    top: 128px;
    left: 24px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #2293D7;
}

.serviceDescription {
    width: 341px;
    height: 112px;
    position: absolute;
    top: 210px;
    left: 24px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #031312;
}

.toolsContainer {
    width: 192px;
    height: 42px;
    position: absolute;
    bottom: 32px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
}

.toolsIcon {
    width: 42px;
    height: 42px;
}

.more {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 32px;
    left: 371px;
    border: 1px 0px 0px 0px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}sc

#arrows {
    width: 88px;
    height: 32px;
    position: absolute;
    top: 800px;
    right: 276px;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.leftArrow {
    width: 32px;
    height: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    rotate: -180 deg;
    color: 1px solid #2293D7;
    cursor: pointer;
}

.rightArrow {
    width: 32px;
    height: 32px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: 1px solid #2293D7;
    cursor: pointer;
}

.projectSubHeader {
    width: 574px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 277px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 39px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: #000000;
}

.projectsImgContainer {
    position: absolute;
    top: 208px;
    left: 277px;
    width: 1400px;
    display: flex;
    gap: 28px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.singleStory {
    width: 438px;
    height: 640px;
    top: 2715px;
    left: 275px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
}

.ourProjects {
    width: 438px;
    height: 500px;
    top: 149px;
    left: 270px;
    gap: 0px;
    opacity: 0px;
}

.feedbackContainer {
    width: 1920px;
    height: 830px;
    background: #2293D7;
    color: #FFFFFF;
}

.feedbacks {
    position: absolute;
    top: 260px;
    left: 277px;
    min-width: 1367px;
    display: flex;
    gap: 28px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#f1,
#f2 {
    min-width: 660px;
    height: 350px;
    border: 1px solid gray;
    top: 4952px;
    left: 1053px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    border-radius: 10px;
    padding: 34px 0 0 32px;
}

.singleFeedback {
    position: relative;
    max-width: 425px;
}

.singleFeedback:active {
    cursor: grabbing;
}